apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: dev
spec:
  selector:
    matchLabels:
      app: app
  replicas: 1
  template:
    metadata:
      labels:
        app: app
        app.kubernetes.io/name: app
    spec:
      containers:
      - name: app
        image: wil42/playground:v1
        ports :
        - containerPort : 8888
